#contactus {
    address {
        table {
            margin-bottom: 15px;
            tr {
                &:nth-child(1) {
                    td {
                        padding-bottom: 5px;
                    }
                }
                &:nth-child(2) {
                    td {
                        padding-bottom: 15px;
                    }
                }
            }
        }
        p {
            margin: 0;
            a {
                color: #7e7e7e;
                text-decoration: underline !important;
            }
        }
    }
    button {
        color: #fff;
        background-color: #1a1a1a;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        line-height: 2;
        width: 160px;
        margin: 0 auto;
        cursor: pointer;
        outline: none;
        &.contactus {
            margin-right: 10px;
        }
    }
    @media (max-width: 375px) {
        button.recruitment {
            margin-top: 15px;
        }
    }
}