.top-ads {
  float: right;
  margin-top: 10px; }
.nopadding { padding: 0 !important; }
.nomargin { margin: 0 !important; }
.navlogo {
  float: left;
  display: flex;
  align-items: center;
  height: 100px;
  transition: height .3s, line-height .3s, margin .3s;
}
.color-white {
  color: #ffffff !important;
}
/*==============================================
 Logo set
 ===============================================*/
.navlogo img { max-width: 300px; }
@media (max-width: 768px) {
  .navlogo {
    height: 50px;
    margin-left: 10px;
    width: 70%;
  }
}