.video-parallax {
  position: relative;
  overflow: hidden;
  font-size: 0;
  padding-top: 50px;
  width: 100%;
  position: relative; }

.video-parallax .container {
  width: 1170px;
}

.video-parallax .container + .video-wrap {
  z-index: 1; }

.video-wrap {
  overflow: hidden;
  text-align: center;
  width: 100%;
  position: relative;
  background-color: #1a1a1a;}

.video-overlay, .banner-overaly {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backface-visibility: hidden; }

@media screen and (max-width: 1170px) {
  .video-parallax .container {
    width: 100%;
  }
}
// 騰訊播放器
#video_qq_player {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.5%;
}
#video_qq_player .tenvideo_player {
  position: absolute;
}
@media screen and (max-width: 1280px) {
  .videoWrapper {
    display: none;
  }
  .video-parallax {
    padding-top: 50px;
  }
}