 body {
  font-family: 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
  line-height: 0;
  color: #7e7e7e;
  font-size: 15px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased; }

a:active,
a:focus {
  outline: none !important; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1a1a1a;
  line-height: 1.5;
  margin: 0 0 30px 0;
  font-weight: normal; }

h1,
h2 {
  letter-spacing: 2px; }

h3,
h4 {
  letter-spacing: 2px; }

h5,
h6 {
  letter-spacing: 1px; }

a {
  text-decoration: none !important; }

a:hover,
a:focus {
  color: #323232; }

a,
.btn {
  transition: all 0.3s; }

a img,
iframe {
  border: none; }

img {
  width: 100%;
}

p {
  margin: 0 0 30px;
  line-height: 2;
  color: #7e7e7e; }

hr {
  margin-top: 0px;
  margin-bottom: 0px;
  border: 0;
  border-top: 1px solid #eee; }

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 30px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9;
  border: 1px solid #EDEDED;
  border-radius: 0; }

.parallax-window {
  min-height: 400px;
  background: transparent;
  padding: 150px 0; }

.inline {
  display: inline; }

.bgblack {
  background-color: #1a1a1a; }

.bgwhite {
  background-color: #ffffff; }

.colorgold {
  color: #d6b161; }

.container {
  padding: 0;
  overflow: hidden;
}
.row {
  margin: 0;
}

h2 {
  background-color:#1a1a1a;
  position: relative;
  display: inline-block;
  padding: 5px 20px;
  color:#fff;
  font-size: 25px;
  &:after {
    content:'';
    display: block;
    position: absolute;
    width: 100px;
    height: 2px;
    right: -100px;
    background-color: #1a1a1a;
    bottom: 0;
  }
}
h2.gold {
  background-color:#d6b161;
  &:after {
    content:'';
    background-color: #d6b161;
  }
}
h3 {
  font-size:25px;
}
h4 {
  font-size:20px;
}

.showmobile { display: none !important; }
.hidden-mobile { display: block; }

@media screen and (max-width: 768px) {
  h2 {
    font-size:20px;
    max-width: 80%;
    &:after {
      content:'';
      max-width:70px;
      right: -70px;
    }
  }
  h3 {
    font-size:20px;
  }
}
@media screen and (max-width: 568px) {
  .showmobile { display: block !important; }
  .hidden-mobile { display: none !important; }
  .icon.showmobile { display: inline-block !important; }
}